.logo h1 {
  font-size: 4.5em;
  color: #333;
  letter-spacing: -1px;
}
.logo p {
  margin-top: -10px;
}

.logo a {
  text-decoration: none;
  color: #333;
}

.inputs .column-4 {
  height: 100px;
}

.inputs input, .inputs select {
  margin: 0 30px 30px;
}

.header {
  margin-bottom: 50px;
}

.headings .column-4 {
  height: 200px;
}

.placeholder {
  background: rgba(0, 0, 0, 0.1);
  text-align: center;
  white-space: nowrap;
}
.placeholder p {
  padding: 10px 0;
}

.nested {
  margin-top: 40px;
}
